@model INVENTARIO.BL.BE.ProductoBE

@{
    ViewBag.Title = "EditarProducto";
    Layout = "~/Views/Layout/_LayoutMenu.cshtml";

    var listaMarca = ViewBag.ListMarcas;
    var listaCategoria = ViewBag.ListaCategorias;
    var listaUnidadDeMedida = ViewBag.ListaUnidadDeMedida;
    var listaEstado = ViewBag.ListaEstado;
    var listaFoto = ViewBag.ListaFoto;
    
    
}

<div class="titulo">Actualizar Producto</div><br />

<table class="tablaDatos">
    <tr>
        <th>
            ID
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Categoria
        </th>
        <th>
            Marca
        </th>
        <th>
            Medida
        </th>
        <th>
            U. De Medida
        </th>
        <th>
            Stock
        </th>
        <th>
            FechaVencimiento
        </th>
        <th>
            Estado
        </th>
        <th>
            Precio
        </th>
        <th>
            Foto
        </th>
    </tr>
    <tr>
        <td>@Model.idProducto</td>
        <td>@Model.descripcion</td>
        <td>@Model.marcaBE.categoriaBE.categoria</td>
        <td>@Model.marcaBE.marca</td>
        <td>@Model.medida</td>
        <td>@Model.unidadDeMedidaBE.simbolo</td>
        <td>@Model.unidadesEnExistencia</td>
        <td>@Model.fechaVencimiento</td>
        <td>@Model.estadoBE.descripcion</td>
        <td>@Model.precio</td>
        <td>@Model.fotoBE.URL</td>
    </tr>
</table><br />

<table class="tablaForm" >

    @using (Html.BeginForm("ActualizarProducto", "Producto", FormMethod.Post))
    {
        <tr>
            <td>ID: </td>
            <td><input type="text" readonly name="txtIDprod" value="@Model.idProducto" /></td>
        </tr>
        <tr>
            <td>Descripcion: </td>
            <td>
                <input type="text" name="txtDescripcion" value="@Model.descripcion" />
            </td>
        </tr> 
        <tr>
            <td>Marca: </td>
            <td>
                <select name="cboMarca">
                    @foreach (var item in listaMarca)
                    {

                        <option value="@item.idMarca">@item.marca</option>

                    }

                </select>
            </td>
        </tr>
        <tr>
            <td>Medida: </td>
            <td><input type="text" name="txtMedida" value="@Model.medida"/></td>
        </tr>
        <tr>
            <td>Unidad De Medida: </td>
            <td>
                <select name="cboUnidadDeMedida">
                    @foreach (var item in listaUnidadDeMedida)
                    {
                        <option value="@item.idUnidad">@item.simbolo</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Unidades en Existencia: </td>
            <td><input type="text" name="txtUnidadesEnExistencia" value="@Model.unidadesEnExistencia"/></td>
        </tr>
        <tr>
            <td>Fecha Vencimiento: </td>
            <td><input type="date" name="dtFechaVencimiento" value="@Model.fechaVencimiento" /></td>
        </tr>
        <tr>
            <td>Estado: </td>
            <td>
                <select name="cboEstado">
                    @foreach (var item in listaEstado)
                    {
                        <option value="@item.idEstado">@item.descripcion</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Precio: </td>
            <td><input type="text" name="txtPrecio" value="@Model.precio"/></td>
        </tr>
        <tr>
            <td>Foto: </td>
            @*<td>
                <select name="cboFoto">
                    @foreach (var item in listaFoto)
                    {
                        <option value="@item.idFoto">@item.URL</option>
                    }
                </select>
            </td>*@
            <td><input type="file"  name="foto" id="foto"/></td>
        </tr>
        <tr>
            <td><button type="submit">Actualizar</button></td>
        </tr>
    }

</table>

