@model List<INVENTARIO.BL.BE.UsuarioBE>

@{
    ViewBag.Title = "ListadoUsuarios";
    Layout = "~/Views/Layout/_LayoutMenuAdmin.cshtml";
}

<p class="titulo">Lista Usuarios</p>

<table class="tablaDatos">
    <tr>
        <th width="65">ID</th>
        <th width="65">NOMBRES</th>
        <th>APELLIDO PATERNO</th>
        <th>APELLIDO MATERNO</th>
        <th>DNI</th>
        <th>TELEFONO</th>
        <th>DIRECCION</th>
        <th>USUARIO</th>
        <th>INTENTOS</th>
        <th>ESTADO</th>
        <th>ROL</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.idUsuario</td>
            <td>@item.nombres</td>
            <td>@item.apellidoPaterno</td>
            <td>@item.apellidoMaterno</td>
            <td>@item.dni</td>
            <td>@item.telefono</td>
            <td>@item.direccion</td>
            <td>@item.ususario</td>
            <td>@item.intentos</td>
            <td>@item.estado</td>
            <td>@item.rolBE.rol</td>
            <td class="EliminarActualizarWEB">
                @Html.ActionLink("ACTUALIZAR", "EditarUsuario", new { idUsuario = item.idUsuario })
            </td>
            <td class="EliminarActualizarWEB">
                @Html.ActionLink("ELIMINAR", "EliminarUsuario", new { idUsuario = item.idUsuario })
            </td>
        </tr>
    }
</table>

